<footer class="footer">
    <div class="container">
        <div class="copyright">
            <span>© 2019 ThinkingOfAbortion.com | Powered by</span> <a
            href="http://www.wpbeaverbuilder.com/?utm_medium=bb-pro&utm_source=bb-theme&utm_campaign=theme-footer">Beaver
            Builder</a>
        </div>
        <div class="nav">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Pregnancy Services</a></li>
                <li><a href="">Info on Plan B</a></li>
                <li><a href="">Testimonials</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Contact Us</a></li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>