//= header.html
<main>
    <div class="page">
        <section class="list-with-thumbnail">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="heading">
                            <h3>Steps To Managing An Unplanned Pregnancy</h3>
                        </div>
                        <ol>
                            <li>Know you are not alone. We are here for you.</li>
                            <li>Research your pregnancy options</li>
                            <li>Know the risks involved</li>
                            <li>Seek help from qualified professionals</li>
                        </ol>
                    </div>
                    <div class="col-md-6">
                        <div class="thumbnail"><img src="./images/pregnancy.jpg" alt="pregnancy"></div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
//= footer.html