//= header.html
<main>
    <div class="main-page">
        <section class="text">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading">
                            <h1>
                                Since 1985 we have been serving <strong>Women, Men, & Parents</strong> dealing with the
                                stress
                                of an unplanned pregnancy.
                            </h1>
                        </div>
                        <div class="text">
                            <p><strong>For the Mother</strong> — We believe your life is important. You probably have
                                many
                                questions
                                about what to do, where to go, and
                                who to trust. You deserve accurate answers that put your health first.</p>
                            <p><strong>For the Father</strong> — We understand the pressure and uncertainty that you are
                                experiencing. As you consider what the future
                                may be for you and your partner, you need to find a non-judgemental resource to help you
                                navigate
                                these trying times.</p>
                            <p><strong>For the Parents</strong> — To see your child go through the trauma of an
                                unplanned
                                pregnancy
                                is a terribly hard thing to do. We
                                want to see them come through safe, healthy, and able to live a full life. You too need
                                to
                                find
                                a
                                resource you can trust
                                to help your family through to the other side.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="list-with-thumbnail">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="heading">
                            <h3>Steps To Managing An Unplanned Pregnancy</h3>
                        </div>
                        <ol>
                            <li>Know you are not alone. We are here for you.</li>
                            <li>Research your pregnancy options</li>
                            <li>Know the risks involved</li>
                            <li>Seek help from qualified professionals</li>
                        </ol>
                    </div>
                    <div class="col-md-6">
                        <div class="thumbnail"><img src="./images/pregnancy.jpg" alt="pregnancy"></div>

                    </div>
                </div>
            </div>
        </section>
        <section class="text-with-button">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading">
                            <h3>Get fast and confidential help now!</h3>
                        </div>
                        <p>
                            You have the right to know all the options — as well as all potential risks to you — before
                            you
                            decide
                            what you should
                            do regarding an unplanned pregnancy. All of our services are 100% FREE, confidential, and
                            non-judgmental, including:
                        </p>

                        <ul>
                            <li>Pregnancy Tests</li>
                            <li>Medically-Accurate Abortion Information</li>
                            <li>Limited Obstetrical Ultrasound</li>
                            <li>Pregnancy Options Education</li>
                            <li>STD Education</li>
                        </ul>

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <a href="tel:717-707-7376" class="bth phone">
                            <i class="fas fa-phone fa-rotate-90"></i>
                            <span>717-707-7376</span>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <a href="mailto:email" class="bth email">
                            <i class="fas fa-envelope"></i>
                            <span>Email Us</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="testimonial">
            <div class="container">
                <div class="heading">
                    <h3>Testimonial</h3>
                </div>
                <p>I was impressed with the amount of kindness that was shown and the professional way that they treated
                    me
                    and
                    my
                    girlfriend. I was also impressed by their facility and how warm and homey it was, as I was expecting
                    a
                    very
                    cold and
                    sterile environment. We are so thankful for them as they really helped…</p>
            </div>
        </section>
        <section class="list-with-thumbnail">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="heading">
                            <h3>Locations to serve you in south central Pennsylvania:</h3>
                        </div>
                        <ul>
                            <li>Columbia</li>
                            <li>Ephrata</li>
                            <li>Lebanon City</li>
                            <li>Millersville</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <div class="thumbnail"><img src="./images/stomach.jpg" alt="stomach"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
//= footer.html