@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 992px) {


@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 480px) {

}


@media only screen and (max-width: 320px) {}

/*__________ DISPAY NONE __________*/

/*__________ DISPAY NONE END__________*/

/*__________ DISPAY BLOCK __________*/

/*__________ DISPAY BLOCK END__________*/