
//Color
$DarkPink:#9C1C6B;
$Pink:#CA278C;
$LightPink:#E47297;
$BgPink:#FFE9E8;
$Red:#AA0114;
$Black:#000000;
$White:#ffffff;
$Grey:#e6e6e6;


//Fonts

$QanelasBlack:"QanelasBlack",Arial, Helvetica, sans-serif;
$QanelasBlackItalic:"QanelasBlackItalic",Arial, Helvetica, sans-serif;
$QanelasBold:"QanelasBold",Arial, Helvetica, sans-serif;
$QanelasBoldItalic:"QanelasBoldItalic",Arial, Helvetica, sans-serif;
$QanelasExtraBold:"QanelasExtraBold",Arial, Helvetica, sans-serif;
$QanelasExtraBoldItalic:"QanelasExtraBoldItalic",Arial, Helvetica, sans-serif;
$QanelasHeavy:"QanelasHeavy",Arial, Helvetica, sans-serif;
$QanelasHeavyItalic:"QanelasHeavyItalic",Arial, Helvetica, sans-serif;
$QanelasLight:"QanelasLight",Arial, Helvetica, sans-serif;
$QanelasLightItalic:"QanelasLightItalic",Arial, Helvetica, sans-serif;
$QanelasMedium:"QanelasMedium",Arial, Helvetica, sans-serif;
$QanelasMediumItalic:"QanelasMediumItalic",Arial, Helvetica, sans-serif;
$QanelasRegular:"QanelasRegular",Arial, Helvetica, sans-serif;
$QanelasRegularItalic:"QanelasRegularItalic",Arial, Helvetica, sans-serif;
$QanelasSemiBold:"QanelasSemiBold",Arial, Helvetica, sans-serif;
$QanelasSemiBoldItalic:"QanelasSemiBoldItalic",Arial, Helvetica, sans-serif;
$QanelasThin:"QanelasThin",Arial, Helvetica, sans-serif;
$QanelasThinItalic:"QanelasThinItalic",Arial, Helvetica, sans-serif;
$QanelasUltraLight:"QanelasUltraLight",Arial, Helvetica, sans-serif;
$QanelasUltraLightItalic:"QanelasUltraLightItalic",Arial, Helvetica, sans-serif;
