/*
   Theme Name: Life Center
   Description: Тема для центра жизни.
   Version: 1.0
   Author: Denis Leshchenko
*/

@import "./variables";
@import "./fonts";
/* __________ COMMOND STYLE BEGIN__________*/

body {
    overflow-x: hidden;
    font-size: 16px;
    min-width: 320px;
    padding: 0px;
    margin: 0px;
    font-family: $QanelasRegular;
    font-weight: 400;
    background-color: $BgPink;
}

a {
    text-decoration: none;
}

input {
    outline: none;
}

img {
    width: 100%;
    height: auto;
}

label {
    cursor: pointer;
}

/* __________ COMMOND STYLE END __________*/

/* __________ CONTACT FORM 7 BEGIN __________*/

.wpcf7-not-valid-tip,
.wpcf7-validation-errors,
.ajax-loader,
.wpcf7-validation-errors {
    display: none !important;
}

/* __________ CONTACT FORM 7 END__________*/

/* __________ HEADER BEGIN __________*/

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $Red;
    padding: 15px 0px;
    position: relative;
    @media screen and (max-width: 768px) {
        padding: 0px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: 992px) {
            flex-direction: column;
            max-width: 100%;
            padding: 0px;
        }
    }
    .logo {
        a {
            display: block;
            img {
                width: 80px;
                @media screen and (max-width: 768px) {
                    width: 40px;
                }
            }
        }
        @media screen and (max-width: 768px) {
            width: 100%;
            text-align: center;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
        }
    }
    .nav {
        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0px;
            margin: 0px;
            list-style: none;
            li {
                a {
                    display: block;
                    color: $Red;
                    font-family: $QanelasRegular;
                    padding: 15px;
                    transition: all 0.3s;
                    &:hover {
                        color: $Pink;
                    }
                }
            }
        }
        @media screen and (max-width: 768px) {
            display: none;
            width: 100%;
            text-align: center;
            ul {
                width: 100%;
                flex-direction: column;
                li {
                    width: 100%;
                    border-bottom: 1px solid $Red;
                    &:first-child {
                        border-top: 1px solid $Red;
                    }
                    &:last-child {
                        border-bottom: none;
                    }
                    a {
                        width: 100%;
                    }
                }
            }
        }
    }
    .nav.active {
        display: block;
    }
    .hamburger {
        display: none;
        height: 30px;
        cursor: pointer;
        transition-property: opacity, -webkit-filter;
        transition-property: opacity, filter;
        transition-property: opacity, filter, -webkit-filter;
        transition-duration: 0.15s;
        transition-timing-function: linear;
        font: inherit;
        color: inherit;
        text-transform: none;
        background-color: transparent;
        border: 0;
        margin: 0;
        overflow: visible;
        &:hover {
            opacity: 0.7;
        }
    }
    .hamburger-box {
        width: 30px;
        height: 26px;
        position: relative;
    }
    .hamburger-inner {
        display: block;
        top: 50%;
        margin-top: -1px;
        width: 30px;
        height: 2px;
        background-color: $Black;
        position: absolute;
        -webkit-transition-property: -webkit-transform;
        transition-property: -webkit-transform;
        -o-transition-property: transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform;
        -webkit-transition-duration: 0.15s;
        -o-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: ease;
        -o-transition-timing-function: ease;
        transition-timing-function: ease;
        &::before,
        &::after {
            width: 30px;
            height: 2px;
            background-color: $Black;
            position: absolute;
            -webkit-transition-property: -webkit-transform;
            transition-property: -webkit-transform;
            -o-transition-property: transform;
            transition-property: transform;
            transition-property: transform, -webkit-transform;
            -webkit-transition-duration: 0.15s;
            -o-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: ease;
            -o-transition-timing-function: ease;
            transition-timing-function: ease;
        }
        &::before,
        &::after {
            content: "";
            display: block;
        }
        &::before {
            top: -10px;
        }
        &::after {
            bottom: -10px;
        }
    }
    .hamburger--spin {
        .hamburger-inner {
            background-color: $Red;
            -webkit-transition-duration: 0.22s;
            -o-transition-duration: 0.22s;
            transition-duration: 0.22s;
            -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            -o-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            &::before {
                background-color: $Red;
                -webkit-transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
                -o-transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
                transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
            }
            &::after {
                background-color: $Red;
                -webkit-transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
                transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
                -o-transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
                transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
                transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
            }
        }
        &.active .hamburger-inner {
            -webkit-transform: rotate(225deg);
            -ms-transform: rotate(225deg);
            transform: rotate(225deg);
            -webkit-transition-delay: 0.12s;
            -o-transition-delay: 0.12s;
            transition-delay: 0.12s;
            -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            &::before {
                top: 0;
                opacity: 0;
                -webkit-transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
                -o-transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
                transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
            }
            &::after {
                bottom: 0;
                -webkit-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                transform: rotate(-90deg);
                -webkit-transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
                transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
                -o-transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
                transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
                transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
            }
        }
    }
    @media screen and (max-width: 768px) {
        .hamburger {
            display: inline-block;
        }
    }
}

.main-banner {
    background: url("../images/bg-main-baner.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 630px;
    position: relative;
    border-bottom: 1px solid $Red;
    display: flex;
    align-items: center;
    justify-content: center;
    .heading {
        text-align: center;
        padding: 15px;
        h2 {
            color: $White;
            font-size: 28px;
            font-family: $QanelasRegular;
            margin-bottom: 60px;
            font-weight: 400;
        }
        .bth {
            font-size: 20px;
            padding: 14px 28px;
            border-radius: 10px;
            color: $White;
            background: $Pink;
            border: 2px solid $Pink;
            background-color: $Pink;
            display: block;
            transition: all 0.3s;
            max-width: 400px;
            margin: 0px auto;
            &:hover {
                background: $Pink;
                border: 2px solid $Pink;
                background-color: $LightPink;
                border-color: $Pink;
            }
        }
    }
}

/* __________ HEADER END __________*/

/* __________ FOOTER BEGIN __________*/

.footer {
    border-top: 1px solid $Red;
    padding: 25px 0px;
    .container {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        @media screen and (max-width: 992px) {
            flex-direction: column;
            text-align: center;
        }
    }
    .copyright {
        padding: 5px 15px;
        white-space: nowrap;
        a {
            color: $Red;
        }
        @media screen and (max-width: 992px) {
            white-space: normal;
            span {
                display: block;
                margin-bottom: 5px;
            }
        }
    }
    .nav {
        ul {
            padding: 0px;
            margin: 0px;
            list-style: none;
            text-align: center;
            li {
                display: inline-block;
                vertical-align: middle;
                a {
                    display: block;
                    color: $Red;
                    font-family: $QanelasRegular;
                    padding: 5px 15px;
                    transition: all 0.3s;
                    &:hover {
                        color: $Pink;
                    }
                }
            }
        }
    }
}

/* __________ FOOTER END __________*/

/* __________ MAIN PAGE BEGIN __________*/

.main-page {
    padding: 50px 0px;
    .text {
        .heading {
            h1 {
                font-family: $QanelasLight;
                font-weight: 300;
                font-size: 36px;
                margin-bottom: 30px;
                text-align: center;
            }
        }
        p {
            font-size: 20px;
        }
    }
    .list-with-thumbnail {
        .heading {
            h3 {
                font-family: $QanelasLight;
                font-size: 36px;
                font-weight: 300;
            }
        }
        ol {
            color: $Pink;
            line-height: 40px;
            li {
                font-size: 20px;
            }
        }
        ul {
            line-height: 40px;
            li {
                font-size: 20px;
            }
        }
    }
    .testimonial {
        p {
            font-size: 20px;
        }
    }
    .text-with-button {
        .heading {
            h3 {
                font-family: $QanelasLight;
                font-size: 30px;
                font-weight: 300;
            }
        }
        p {
            font-size: 20px;
        }
        .bth {
            font-size: 20px;
            padding: 14px 28px;
            border-radius: 10px;
            color: $White;
            background: $Pink;
            border: 2px solid $Pink;
            background-color: $Pink;
            transition: all 0.3s;
            display: block;
            text-align: center;
            &:hover {
                background: $Pink;
                border: 2px solid $Pink;
                background-color: $LightPink;
                border-color: $Pink;
            }
            i {
                margin-right: 10px;
                font-size: 20px;
            }
            @media screen and (max-width:768px) {
                &:first-child {
                    margin-bottom: 15px;
                }
            }
        }
        ul {
            line-height: 40px;
            li {
                font-size: 20px;
            }
        }
    }
}

/* __________ MAIN PAGEEADER END __________*/